{% extends 'admin/base.html.twig' %}

{% block info %}
    {% if info is defined %}
        {% if info == 'deleteOrder-success'%}
            <div class="alert alert-success text-center" role="alert">Zamówienie zostało usunięte</div>
        {% elseif info == 'deleteOrder-fail'%}
            <div class="alert alert-danger text-center" role="alert">Zamówienie nie zostało usunięte</div>
        {% elseif info == 'updateOrderStatus-success'%}
            <div class="alert alert-success text-center" role="alert">Status zamówienia został zmieniony</div>
        {% elseif info == 'updateOrderStatus-fail'%}
            <div class="alert alert-danger text-center" role="alert">Status zamówienia nie został zmieniony</div>
        {% elseif info == 'admin-add-success'%}
            <div class="alert alert-success text-center" role="alert">Admin został dodany</div>
        {% elseif info == 'admin-add-fail'%}
            <div class="alert alert-danger text-center" role="alert">Admin nie został dodany</div>
        {% endif %}
    {% endif %}
{% endblock %}

{% block body %}
{% set url = "index.php?site=admin&action=admins" %}
{% if searchInput is not empty %}{% set url = url ~ "&searchInput=" ~ searchInput %}{% endif %}
    
    <div class="row">
        <div class="col-md-12 bg-white">
            <div class="row">
                <div class="pull-right">
                    <a class="btn btn-success" href="index.php?site=admin&action=admins&perf=add">Dodaj admina</a><br/>
                </div>
            </div>
                <form action="index.php?site=admin&action=admins&perf=add" method="POST">
                    <label>Nazwa</label><br/>
                    <input type="text" name="adminName" placeholder="Wpisz imię i nazwisko admina" class="form-control" >
                    <label>Login</label><br/>
                    <input type="text" name="adminUsername" placeholder="Wpisz login" class="form-control">
                    <label>Email</label><br/>
                    <input type="text" name="adminEmail" placeholder="Wpisz adres email" class="form-control">
                    <label>Hasło</label><br/>
                    <input type="text" name="password" placeholder="Wpisz hasło" class="form-control">
                    <input type="hidden" name="adding" value="adding">
                    
                    <input type="submit" value="Dodaj admina" class="btn btn-class">
                </form>
            </table>
        </div>
    </div>
    
{% endblock %}