<div class="well">
            
            <a class="btn btn-default width-full text-left-important {% if shopMenu == 'orders'%}active{%endif%}" href="index.php?site=admin&action=agrements">Zamówienia</a>
            <a class="btn btn-default width-full text-left-important {% if shopMenu == 'orders'%}active{%endif%}" href="index.php?site=admin&action=agrements&act=faktury">Faktury</a>

</div>