<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Simple site - administration panel</title>

    <!-- Bootstrap -->
    <link href="web/css/bootstrap.min.css" rel="stylesheet">
    <link href="web/css/custom.css" rel="stylesheet">
    <link href="web/css/admin.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pavanam" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="icon"  type="web/images/png" href="favicon.png">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container"><br/>
        <p class="text-center">Panel administracyjny - www.grupaformat.pl</p>
      </div>
    </nav>
    {% block info %}
    {% if info is defined %}
        {% if info.info == 'logout'%}
            <div class="alert alert-success text-center" role="alert">Zostałeś poprawnie wylogowany</div>
        {% elseif info.info == 'session-user-lack' %}
                    <div class="alert alert-danger text-center" role="alert">Błąd autoryzacji użytkownika. Zaloguj się ponownie jeżeli problem występuje ponownie skontaktuj się z administratorem</div>
        {% elseif info.info == 'session-auth-lack' %}
                    <div class="alert alert-danger text-center" role="alert">Błąd uwierzytelniania sesji . Zaloguj się ponownie jeżeli problem występuje ponownie skontaktuj się z administratorem</div>
        {% elseif info.info == 'session-timeout' %}
                    <div class="alert alert-danger text-center" role="alert">Twoja sesja wygasła. Zaloguj się ponownie</div>
        {% endif %}
    {% endif %}
{% endblock %}
    <div class="container">
      <form class="form-signin" action="index.php?site=admin&action=login" method="POST">
        <h2 class="form-signin-heading">Zaloguj się</h2>
        <label for="inputEmail" class="sr-only">Nazwa użytkownika</label>
        <input type="username" name="username" id="username" class="form-control" placeholder="Nazwa użytkownika" required autofocus>
        <label for="inputPassword" class="sr-only">Hasło</label>
        <input type="password" name="password" id="password" class="form-control" placeholder="Hasło" required>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Zaloguj</button>
      </form>

    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="web/js/bootstrap.min.js"></script>
</body>
</html>