<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Simple site</title>

    <!-- Bootstrap -->
    <link href="web/css/bootstrap.min.css" rel="stylesheet">
    <link href="web/css/custom.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="icon"  type="web/images/png" href="favicon.png">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>
var images = [].slice.call(document.querySelectorAll('.js-parallax-bg'));
function getViewportHeight() {
    var a = document.documentElement.clientHeight, b = window.innerHeight;
    return a < b ? b : a;
}

function getViewportScroll() {
    if(typeof window.scrollY != 'undefined') {
        return window.scrollY;
    }
    if(typeof pageYOffset != 'undefined') {
        return pageYOffset;
    }
    var doc = document.documentElement;
    doc = doc.clientHeight ? doc : document.body;
    return doc.scrollTop;
}
function doParallax() {
    var el, elOffset, elHeight,
        offset = getViewportScroll(),
        vHeight = getViewportHeight();
 
    for(var i in images) {
        el = images[i];
        elOffset = el.offsetTop;
        elHeight = el.offsetHeight;
 
        if((elOffset > offset + vHeight) || (elOffset + elHeight < offset)) { continue; }
        el.style.backgroundPosition = '50% '+Math.round((elOffset - offset)*3/8)+'px';
    }
}

$(document).ready(function(){

});
$(document).scroll(function () {
    doParallax();
    var documentHeight = document.documentElement.clientHeight;
    var y = $(this).scrollTop();
    $('.well').each(function () {
        var t = $(this).parent().offset().top - innerHeight *1.1 ;
        if (y > t) {
            $(this).fadeIn("slow");
        }
    });
});
</script>
  </head>
  <body style="background:#dedede">
        <div class="menu" id="menu">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="#">Nazwa firmy</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    {% if menu is not defined %}
                        {% set menu = 'start' %}
                    {% endif %}
                    <ul class="nav navbar-nav">
                        <li{% if menu == 'start' %} class="active"{% endif %}><a href="index.php?szkId={{ szkId }}">Start</a></li> 
                        <li{% if menu == 'dokumenty' %} class="active"{% endif %}><a href="index.php?site=dokumenty&szkId={{ szkId }}">Dokumentacja</a></li>
                        <li{% if menu == 'creator' %} class="active"{% endif %}><a href="index.php?site=creator&szkId={{ szkId }}">Kreator celów</a></li>
                        <li{% if menu == 'kontakt' %} class="active"{% endif %}><a href="index.php?site=kontakt&szkId={{ szkId }}">Kontakt</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <a href='' class="navbar-brand">Simple Site</a>
                    </ul>
                </div>
              </div>
        </nav>
      </div>
{% block carousel %}
{% endblock %}

      <div class="parralex">
          <section class="bgnd bgnd-1 js-parallax-bg"></section>
          <section class="bgnd bgnd-2 js-parallax-bg"></section>
          <section class="bgnd bgnd-3 js-parallax-bg"></section>
          <section class="bgnd bgnd-4 js-parallax-bg"></section>
      </div>
      <br/>
      <br/>
      <div class="container-fluid co">
        <div class="row">
          <div  class="cont center-block">
              {% block body %}
                  <div id="info" class="well"><br/><br/><br/></div>
                  <div class="well">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque fermentum fermentum magna sed vulputate. In suscipit tristique elit quis suscipit. Mauris in nisl tristique, tempus ipsum eget, ullamcorper turpis. Nulla accumsan consequat justo, et ornare felis faucibus sit amet. Proin iaculis vehicula pretium. Curabitur et rutrum est. Pellentesque non mauris in odio malesuada tristique. Vestibulum eu tempus eros. Donec sit amet tellus quis tortor iaculis volutpat. Pellentesque auctor, arcu at efficitur sagittis, nisi justo gravida nibh, ut iaculis neque mi a enim. Aliquam mattis hendrerit felis quis congue.

Quisque augue neque, gravida sed lacinia sed, facilisis quis magna. Fusce efficitur odio sed finibus euismod. Fusce et ex erat. Fusce magna elit, sagittis molestie fringilla venenatis, gravida non lorem. Cras fringilla faucibus neque in mollis. Sed vulputate lacinia lobortis. In eget est sollicitudin, molestie tellus eget, auctor augue. Nullam ac dolor interdum, gravida risus ac, faucibus arcu. Vestibulum ac magna in ligula vehicula ullamcorper dictum quis nulla. Pellentesque id nisl quis est dapibus bibendum a et velit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla hendrerit finibus justo, at ornare nulla ultricies quis.

Nullam in urna ultricies ipsum malesuada pretium. Nam convallis arcu ut orci imperdiet hendrerit. Vestibulum eget sollicitudin nisl. Donec arcu eros, consectetur vel mattis nec, feugiat in mi. Ut at scelerisque augue. Ut commodo congue velit sed iaculis. Fusce bibendum magna massa, vel condimentum ante dignissim vitae. Sed eros enim, ullamcorper non blandit non, consequat ut lectus. Suspendisse vehicula nisl id laoreet finibus. Mauris molestie tempus odio non bibendum. Vivamus feugiat, dui non porttitor pharetra, purus velit porta quam, a luctus turpis felis ut purus. Curabitur eu magna ex.

Phasellus efficitur aliquam ligula, sed euismod nulla interdum in. In in nunc posuere, mattis lacus non, mattis sapien. Curabitur vestibulum diam sit amet orci vulputate molestie. Pellentesque dapibus vitae leo sit amet efficitur. Quisque id commodo erat. Nunc rhoncus libero in lobortis finibus. Cras a diam scelerisque, dapibus mauris nec, convallis mauris. Morbi euismod lacinia nisl, at venenatis neque convallis nec. Ut finibus diam sit amet purus scelerisque, scelerisque commodo lectus vulputate. Etiam eu ante sapien. Aenean quis est eget lorem feugiat molestie. Vestibulum id suscipit orci.

Proin volutpat nulla in turpis molestie hendrerit. Nam vitae diam semper, aliquet orci ac, consectetur lectus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer tincidunt vehicula pulvinar. Cras lorem purus, iaculis eu odio sit amet, dapibus accumsan lorem. Aliquam viverra dolor in ante porttitor, eget luctus elit aliquam. Maecenas viverra tellus nec posuere condimentum. Curabitur tincidunt velit sit amet finibus pharetra.</div>
                  <div><div class="well displayNone"><br/></div></div>
                  <div><div class="well displayNone"><br/></div></div>
                  <div><div class="well displayNone"><br/><br/><br/></div></div>
                  <div><div class="well displayNone"><br/></div></div>
                  <div><div class="well displayNone"><br/></div></div>
                  <div><div class="well displayNone"><br/></div></div>
                  <div><div class="well displayNone"><br/><br/><br/></div></div>
                  <div><div class="well displayNone"><br/></div></div>
                  <div><div class="well displayNone"><br/></div></div>
                  <div><div class="well displayNone"><br/></div></div>
                  <div><div class="well displayNone"><br/><br/><br/></div></div>
                  <div><div class="well displayNone"><br/></div></div>
                  <div><div class="well displayNone"><br/></div></div>

              {% endblock %}
           </div>
        </div>
       </div>
           <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="web/js/bootstrap.min.js"></script>
    <script src="web/js/addons.js"></script>
</body>
</html>