{% extends 'base.html.twig' %}

{% block body %}
    {% set url = "index.php?site=shop&view=register" %}
    <div class="container width-full">
        <div class="well">
            <div class="row">
                <div class="row">
                    <div class="col-md-3">
                        {% include "shop-leftMenu.html.twig" %}
                    </div>
                    <div class="col-md-9">
                        <div class="well responsive">
                            <div class="row">
                                {% if user is empty %}
                                    <form class="form-inline" action="{{url}}&perf=register" method="POST">
                                        <table class="table-responsive">
                                            
                                            <tr>
                                                <td>
                                                    <label>Nazwa konta:*</label>
                                                </td>
                                                <td style="width:10px;">  
                                                </td>
                                                <td>
                                                    <input class="form-control" type="text" name="name" placeholder="nazwa konta" required/>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label>Login:*</label>
                                                </td>
                                                <td>
                                                </td>
                                                <td>
                                                    <input class="form-control" type="text" name="username" placeholder="login" required/>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label>Hasło:*</label>
                                                </td>
                                                <td>
                                                </td>
                                                <td>
                                                    <input class="form-control" type="password" name="password" placeholder="hasło" required/>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label>Email:*</label>
                                                </td>
                                                <td>
                                                </td>
                                                <td>
                                                    <input class="form-control" type="text" name="email" placeholder="email" required/>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label>Firma:*</label>
                                                </td>
                                                <td>
                                                </td>
                                                <td>
                                                    <input class="form-control" type="text" name="company" placeholder="firma" required/>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label>Imię:*</label>
                                                </td>
                                                <td>
                                                </td>
                                                <td>
                                                    <input class="form-control" type="text" name="firstName" placeholder="wpisz swoje imię" required/>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label>Nazwisko:*</label>
                                                </td>
                                                <td>
                                                </td>
                                                <td>
                                                    <input class="form-control" type="text" name="lastName" placeholder="wpisz swoje nazwisko" required/>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label>Telefon:*</label>
                                                </td>
                                                <td>
                                                </td>
                                                <td>
                                                    <input class="form-control" type="text" name="phone1" required/>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label>Telefon 2:</label>
                                                </td>
                                                <td>
                                                </td>
                                                <td>
                                                    <input class="form-control" type="text" name="phone2"/>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label>Adres:*</label>
                                                </td>
                                                <td>
                                                </td>
                                                <td>
                                                    <input class="form-control" type="text" name="address1" required/>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label>Miasto:*</label>
                                                </td>
                                                <td>
                                                </td>
                                                <td>
                                                    <input class="form-control" type="text" name="city" required/>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label>Kod pocztowy:*</label>
                                                </td>
                                                <td>
                                                </td>
                                                <td>
                                                    <input class="form-control" type="text" name="zip" required/>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label>NIP:*</label>
                                                </td>
                                                <td>
                                                </td>
                                                <td>
                                                    <input class="form-control" type="text" name="extraField1" required/>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                </td>
                                                <td>
                                                </td>
                                                <td>
                                                    <input class="btn btn-success" type="submit" value="Zarejestruj"/>
                                                </td>
                                            </tr>
                                        </table>
                                        <input type="hidden" name="register"/>
                                    </form>
                                {% else %}
                                    Jesteś zalogowany jako:<br/>
                                    {{user.name}}<br/>
                                    <a href="{{url}}&view=account" class="btn btn-default btn-xs">Moje konto</a>
                                    <a href="{{url}}&view=orders" class="btn btn-default btn-xs">Moje zamówienia</a><br/><br/>
                                    <a href="index.php?site=shop&action=logout" class="btn btn-info">Wyloguj się</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock%}
